html{
	background-color:#000;
        border: 2vw ridge white;
	position: fixed;
	left: 0;
	bottom: 0;
	top:0;
	right:0;
}

header{
	background-color:#000;
	border: 2vw ridge white;
	color:#fff;
	font-family: Palatino, fantasy;
	font-size: 2vw;
	text-align: center;
	padding: 1vw;
}

nav{
	width: 30vw;
	background-color:#000;
	color:#fff;
	font-size: 2vw;
	text-align: center;
	padding-top: 2vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
}

.fa-med {
	color:#fff;
	text-decoration: none;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
}

body{
	background-color:#000;
	color:#fff;
	font-family: Palatino, fantasy;
	font-size: 2vw;
	text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 4% 28% 4% 28% 4% 28% 4%;
   grid-template-rows:   4% 11% 11% 11% 8% 11% 11% 11% 8% 11%;
  /* grid-template-rows: 2% 15% 20% 15% 10% 15% 20% 15% 10% 15%; */
  background-color: #000;
  justify-content: center;
}

.grid-major {
  background-color: black;
  border: 2vw groove white;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 2vw;
  text-align: center;
}

.grid-minor {
  background-color: black;
  border: 2vw outset white;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 2vw;
  text-align: center;
}

.grid-minor:hover {
    background-color: white;
    font-size: 2vw;
    color: #000;
}

.grid-blank {
  background-color: black;
  border: 1vw solid black;
  color: white;
  padding-top: 2vw;
  font-size: 2vw;
  text-align: center;
}

footer{
	background-color:#000;
	color:#fff;
	font-family: Chalkduster, fantasy;
	font-size: 2vw;
	text-align: center;
	padding-top: 3vw;
	padding-bottom: 4vw;
}
